/* Bannière secondaire */
.banner2 {
  width: 95%;
  max-width: 1240px;
  height: 200px;
  margin: 30px auto;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('@/assets/images/montagne.jpeg') center/cover;
}

.banner2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 1;
  border-radius: 25px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.6), inset 0 0 25px rgba(0, 0, 0, 0.4);
}

.banner2-content {
  width: 100%;
  padding: 20px;
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}