/* Header.css */
.header-container {
    display: flex;
    justify-content: space-between; /* Sépare logo et nav */
    align-items: center; /* Alignement vertical */
    padding: 30px; /* Augmentation du padding pour plus d'espace */
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1440px;
}

/* Logo - Version Kasa optimale */
.logo-container {
    width: 210px; /* Taille standard Kasa */
}

.header-logo {
    width: 100%;
    height: auto;
}

/* Navigation - Style Kasa */
.nav-links {
    display: flex;
    gap: 57px; /* Espacement Kasa */
}

.nav-link {
    color: black; /* Rouge Kasa */
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    position: relative;
}

.nav-link--active {
    text-decoration: underline;
    /* Ou pour un effet plus visible : */
    /* border-bottom: 2px solid #FF6060; */
    /* text-decoration-thickness: 2px; */
  }

/* Animation hover Kasa */
.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* Version tablette */
@media (max-width: 1024px) {
    .header-container {
        padding: 30px 50px;
    }
    
    .nav-links {
        gap: 30px;
    }
    
    .nav-link {
        font-size: 18px;
    }
}

/* Version mobile */
@media (max-width: 768px) {
    .header-container {
        padding: 20px;
    }
    
    .logo-container {
        width: 145px;
    }
    
    .nav-links {
        gap: 20px;
    }
    
    .nav-link {
        font-size: 12px;
        text-transform: uppercase;
    }
}