.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  /* Contenu principal */
  .home-content {
    flex: 1;
    width: 90%;
    margin: -40px auto;
  }
  
  /* Conteneur des cartes avec fond gris*/
  .cards-wrapper {
    background: #F6F6F6;
    border-radius: 25px;
    padding: 40px 40px; /* Espacement interne */
    margin: 40px 0;
  }
  
  /* Grille des cartes */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  /* Liens des cards */
.card-link {
  text-decoration: none;
  color: inherit;
}

  /* Dans votre fichier CSS global ou composant parent */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1240px; /* Ajustez selon votre layout */
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Conteneur principal pour l'alignement */
.content-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.banner-content, 
.banner2-content {
  width: 100%;
  max-width: 100%; /* Prend toute la largeur du conteneur */
  box-sizing: border-box; /* Inclut padding/border dans le calcul */
}
  
/* Transition entre les pages */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}

  /* Version tablette */
  @media (max-width: 1024px) {
    .cards-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
  
  /* Version mobile */
  @media (max-width: 768px) {
    .cards-wrapper {
      background: none;
      padding: 0;
      margin: 20px 0;
      /* width: 100%; */
    }
    
    .cards-container {
      grid-template-columns: 1fr;
      gap: 20px;
      /* padding: 0; */
    }
  }